{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-5 mx-auto">
            <h1>Create your ingredient</h1>
            {% include "ingredient/_form.html.twig" %}
        </div>
    </div>
{% endblock %}
