<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">E-Recipe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
                    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav ml-auto">
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("security_register") }}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("security_login") }}">Login</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("account_index") }}">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("security_logout") }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
